@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply leading-relaxed;
}

body {
	@apply bg-neutral-800 text-neutral-100;
}

html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	@apply font-bold;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

nav a {
	@apply font-bold;
}

a:hover {
	@apply text-neutral-200;
}

p:not(.error) {
	@apply mt-6;
}
